html {
    font-family: 'Cormorant Garamond', serif;}

/*CSS for header section*/

header {
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    display: flex;
    justify-content: space-around;
    background-color: #eeeeee;
}

header nav {
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 5vw;
    font-weight: 200;
}

header nav a {
    font-size: 1.5vw;
    padding: 0vw 3vw;
    color: black;
}

header nav a:hover {
    text-decoration: none;
}

/*CSS for main section*/

#main {
    padding-top: 5vw;
    padding-bottom: 3vw;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

#main img {
    max-width: 60vw;
}

.text p {
    position: relative;
    margin: 0vw 4vw;
    text-align: center;
    font-size: 2vw;
    line-height: 2.5;
}

#mainButton {
    display: flex;
    margin: 2vw auto 0vw;
    padding: 1vw;
    align-items: center;
    justify-content: center;
    width: 10vw;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.5vw;
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

#mainButton:hover {
    background-color: #eeeeee;
}

#mainButton:active {
    text-decoration: none;
}

#hiddenText {
    display: none;
    text-align: center;
    font-size: 1.5vw;
    line-height: 2;
}

/* CSS for Technical Skills section */

#skills {
    border-top: 1.5px solid black;;
    padding-top: 2.5vw;
    padding-bottom: 5vw;
}

#skills p {
    text-align: center;
    font-size: 2vw;
}

#skills .icon-container {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: auto;
    padding-top: 2vw;
}

.icon {
    width: 5%;
}

/* CSS for Projects section */

#projects {
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

#projects .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
}

#projectsButton {
    display: flex;
    margin: 2vw auto 0vw;
    padding: 1vw;
    align-items: center;
    justify-content: center;
    width: 10vw;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.5vw;
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

#projectsButton:hover {
    background-color: #eeeeee;
}

#projectsButton:active {
    text-decoration: none;
}

#hiddenProjects {
    display: flex;
    justify-content: space-around;
    margin-top: 3vw;
}

.projectLink {
    font-size: 1.25vw;
    color: black;
}

.projectLink:hover {
    text-decoration: none;
}

/* CSS for Contact Me Section */

#contact-me {
    padding-top: 5vw;
    padding-bottom: 5vw;
}

#contactButton {
    display: flex;
    margin: 2vw auto 0vw;
    padding: 1vw;
    align-items: center;
    justify-content: center;
    width: 10vw;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.5vw;
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

#contactButton:hover {
    background-color: #eeeeee;
}

#contactButton:active {
    text-decoration: none;
}

#hiddenContact {
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 75%;
}

form {
    margin-top: 3vw;
}

input, textarea {
    width: 100%;
    padding: 1vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 1vw 1vw 1vw 0;
    display: inline-block;
  }

#contactDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-size: 1.5vw;
    line-height: 1.5;
    margin-top: 3vw;
    padding-left: 6vw;
    border-left: 1px solid black;
}

@media screen and (max-width: 768px) {
    #hiddenContact {
        flex-direction: column-reverse;
    }

    #contactDetails
 {
    padding-left: 0;
    border-left: none;
    border-bottom: 1px solid black;
    padding-bottom: 3vw;
 }}

/* CSS for footer section */

footer {
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    padding-bottom: 5vw;
    background-color: #eeeeee;
}

footer h1 {
    text-align: center;
    font-size: 5vw;
}

footer .icon-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
}

footer .icon {
    width: 10%
}